visualstudio/
visualstudio/**
visualstudio/NeqSimVS/.vs/NeqSimVS/v16/.suo
visualstudio/NeqSimVS/NeqSimVS/bin/Debug/NeqSim.dll
visualstudio/NeqSimVS/NeqSimVS/bin/Debug/NeqSimVS.exe
visualstudio/NeqSimVS/NeqSimVS/bin/Debug/NeqSimVS.pdb
visualstudio/NeqSimVS/NeqSimVS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
visualstudio/NeqSimVS/NeqSimVS/obj/Debug/NeqSimVS.csproj.FileListAbsolute.txt
visualstudio/NeqSimVS/NeqSimVS/obj/Debug/NeqSimVS.csprojAssemblyReference.cache
visualstudio/NeqSimVS/NeqSimVS/obj/Debug/NeqSimVS.exe
visualstudio/NeqSimVS/NeqSimVS/obj/Debug/NeqSimVS.pdb
